html, body {
    font-family: 'Nunito Sans', sans-serif;
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;
    background: #fff;
}
.circular {
    position: relative;
    height: 100px;
    width: 100px;
    transform: scale(1.2);
}
.circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 96px;
    width: 96px;
    background: #fff;
    border-radius: 50%;
}
.circular .num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    font-family: "Nunito Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #704359;
}
.circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(125, 125, 125, 0.5);
    border-radius: 50%;
    clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    clip: rect(0px, 50px, 100px, 0px);
    background: rgb(223, 89, 121);
}
.circle .left .progress {
    z-index: 1;
    animation: left 1s linear both
}
@keyframes left {
    100% {
        transform: rotate(180deg);
    }
}   

.circle .right {
    z-index: 3;
    transform: rotate((180deg));
}
.circle .right .progress {
    animation: right 1s linear both 1s;
}
@keyframes right {
    100% {
        transform: rotate(180deg);
    }
} 